/bootstrap/compiled.php
/vendor
/html
/bower_components
/node_modules
/public/packages
/public/uploads
/public/test_images
/public/remote
/public/remote_moved
/public/remote_cdn
/public/rename
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
ilman_maulana_open_ssh.ppk